/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX GLOBALES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html { 
	font-size: 62.5%;
} 

body {
	font-family: 'Press Start 2P', cursive;
	color:white;
	background-color: black;
	width:100px;
	margin:0 auto;
}
img {
	max-width:100%;
}
a {
	transition: 0.4s all ease-in-out;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX HEADER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

h1 {
	font-size:5rem;
	text-align: center;
	margin: 3rem 0 2rem 0;
	text-transform: uppercase;
	color:red;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX MAIN XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#tableau {
	position:absolute;
	top:100px;
	left:43%;		
	border:0.5rem solid white;
	width:460px;
	text-align: center;
	margin:0 auto;
}

div>div {
	display:inline-block;
	width:30px;
	height:30px;
	background-color:black;
}

#options{
	width:40px;
	position:relative;
	cursor:pointer;
	margin-right: 1rem;
}

#score {
	width:460px;
	display: block;
	margin: 0 auto 3rem auto;
	height:100px;
	color:black;
	background-color:white;
	font-size: 3rem;
	text-align:left;
	padding: 1rem 0 0 4rem;
	position:absolute;
	top:675px;
	left:43%;	
}
#commande {
	width:472px;
	display: block;
	margin: 0 auto;
	text-align: center;
	position:absolute;
	top:800px;
	left:43%;		
}

#perdu {
	position:absolute;
	top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
	width:400px;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	color: red;
	background-color: black;
	padding:2rem 1rem 1.5rem 1rem;
	border:5px solid white;
}
.hidden {
	display:none;
}

#commande p {
	display:inline-block;
	user-select:none;
	text-align: center;
	font-size: 10rem;
	width:30%;
	cursor:pointer; 
}

.shadUp {
	border-top:solid 3px rgba(255,255,255,0.9);
}
.shadDown{
	border-bottom:solid 3px rgba(0,0,0,0.5);
}
.shadLeft{
	border-left:solid 3px rgba(255,255,255,0.9);
}
.shadRight{
	border-right:solid 3px rgba(0,0,0,0.5);
}

#cadrePiece {
	position:relative;
	top:200px;
	left:-400px;
	border:10px solid white;
	width:250px;
	height:300px;
}
h2 {
	font-size: 1.4rem;
	margin: 1rem;
}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX FOOTER XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX MEDIA QUERIES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 730px) and (max-width: 1200px) {
    
}


@media screen and (min-width: 1201px) {
    
}



